!!! 5
head
    meta(name='viewport', content='width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='chrome=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    link(rel='stylesheet', href='/css/sharp.css')
    link(rel='stylesheet', href='/css/global.css')
    title sharp
  body
    .board(_key = key)

    script(src='/js/soundmanager2-nodebug.js')
    script(src='/js/PxLoader.js')
    script(src='/js/PxLoaderImage.js')
    script(src='/js/PxLoaderSound.js')

    script(src='/js/socket.io.js')
    script(src='/js/zepto.min.js')
    script(src='/js/chess.js')
    script(src='/js/battle.js')