body{
	background: #e8e8e8;
	-webkit-backface-visibility: hidden;
}
.animated {
	-webkit-animation-duration: 0.5s;
	   -moz-animation-duration: 0.5s;
	     -o-animation-duration: 0.5s;
	        animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

.animated.hinge {
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
}
.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
}

.board{
	width: 310px;
	height: 300px;
	position: relative;
	line-height: 0px;
	-webkit-transform-style: preserve-3d;
	-webkit-perspective: 99999999px;
}

/** <--------- anim frame    **/
@-webkit-keyframes flash {
	0%, 100% {opacity: 0;}	
	50% {opacity: 1;}
}

@-moz-keyframes flash {
	0%, 100% {opacity: 0;}	
	50% {opacity: 1;}
}

@-o-keyframes flash {
	0%, 100% {opacity: 0;}	
	50% {opacity: 1;}
}

@keyframes flash {
	0%, 100% {opacity: 0;}	
	50% {opacity: 1;}
}


@-webkit-keyframes w2o {
	0% {
		-webkit-transform: rotateY(0deg);
	}

	50% {
		-webkit-transform: rotateY(-130deg);
	}

	70% {
		-webkit-transform: rotateY(-110deg);
	}

	100% {
		-webkit-transform: rotateY(-120deg);
	}
}


@-webkit-keyframes w2x {
	0% {
		-webkit-transform: rotateY(0deg);
	}

	50% {
		-webkit-transform: rotateY(130deg);
	}

	70% {
		-webkit-transform: rotateY(110deg);
	}

	100% {
		-webkit-transform: rotateY(120deg);
	}
}

@-webkit-keyframes o2x {
	0% {
		-webkit-transform: rotateY(-120deg);
	}

	50% {
		-webkit-transform: rotateY(-250deg);
	}

	70% {
		-webkit-transform: rotateY(-230deg);
	}

	100% {
		-webkit-transform: rotateY(-240deg);
	}
}
@-webkit-keyframes o2w {
	0% {
		-webkit-transform: rotateY(-120deg);
	}

	50% {
		-webkit-transform: rotateY(10deg);
	}

	70% {
		-webkit-transform: rotateY(-10deg);
	}

	100% {
		-webkit-transform: rotateY(0deg);
	}
}
@-webkit-keyframes x2o {
	0% {
		-webkit-transform: rotateY(-240deg);
	}

	50% {
		-webkit-transform: rotateY(-110deg);
	}

	70% {
		-webkit-transform: rotateY(-130deg);
	}

	100% {
		-webkit-transform: rotateY(-120deg);
	}
}
@-webkit-keyframes x2w {
	0% {
		-webkit-transform: rotateY(120deg);
	}

	50% {
		-webkit-transform: rotateY(-10deg);
	}

	70% {
		-webkit-transform: rotateY(10deg);
	}

	100% {
		-webkit-transform: rotateY(0deg);
	}
}
@-webkit-keyframes shake {
	0%, 100% {-webkit-transform:translateZ(-28.8675px) rotateZ(0);}
	10%, 30%, 50%, 70%, 90% {-webkit-transform:translateZ(-28.8675px) rotateZ(5deg);}
	20%, 40%, 60%, 80% {-webkit-transform:translateZ(-28.8675px) rotateZ(-5deg);}
}
@-webkit-keyframes rockX {
	0%{-webkit-transform:rotateY(115deg);}
	50%{-webkit-transform:rotateY(125deg);}
	100%{-webkit-transform:rotateY(115deg);}
}
@-webkit-keyframes rockO {
	0%{-webkit-transform:rotateY(-125deg);}
	50%{-webkit-transform:rotateY(-115deg);}
	100%{-webkit-transform:rotateY(-125deg);}
}

/** anim frame-------------> **/





/** <--------- cube chess class **/
.board .chess{
	display: inline-block;
	position: absolute;
	margin: 1px;
	width: 100px;
	height: 100px;
	-webkit-perspective: 1000px;
	-webkit-transform-style: preserve-3d;
	-webkit-perspective-origin: center center;
}


.board .chess .trig{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	-webkit-transform: translateZ(-28.8675px);
	-webkit-transform-style: preserve-3d;
	
}

.board .chess .rotate{
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotateY(0);
}

.board .chess.x2w .rotate{
	-webkit-animation-name: x2w;
	-moz-animation-name: x2w;
	-o-animation-name: x2w;
	animation-name: x2w;
}
.board .chess.x2o .rotate{
	-webkit-animation-name: x2o;
	-moz-animation-name: x2o;
	-o-animation-name: x2o;
	animation-name: x2o;
}
.board .chess.o2w .rotate{
	-webkit-animation-name: o2w;
	-moz-animation-name: o2w;
	-o-animation-name: o2w;
	animation-name: o2w;
}

.board .chess.o2x .rotate{
	-webkit-animation-name: o2x;
	-moz-animation-name: o2x;
	-o-animation-name: o2x;
	animation-name: o2x;
}
.board .chess.w2x .rotate{
	-webkit-animation-name: w2x;
	-moz-animation-name: w2x;
	-o-animation-name: w2x;
	animation-name: w2x;
}

.board .chess.w2o .rotate{
	-webkit-animation-name: w2o;
	-moz-animation-name: w2o;
	-o-animation-name: w2o;
	animation-name: w2o;
}

.board .chess.rockX .rotate{
	-webkit-animation-name: rockX;
	-moz-animation-name: rockX;
	-o-animation-name: rockX;
	animation-name: rockX;
}

.board .chess.rockO .rotate{
	-webkit-animation-name: rockO;
	-moz-animation-name: rockO;
	-o-animation-name: rockO;
	animation-name: rockO;
}

.board .chess.shake .trig{
	-webkit-animation-name: shake;
	-moz-animation-name: shake;
	-o-animation-name: shake;
	animation-name: shake;
}
.board .o .rotate{
	-webkit-transform:rotateY(-120deg);
}

.board .x .rotate{
	-webkit-transform:rotateY(120deg);
}



.board .chess .face{
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-backface-visibility: hidden;
	background-size: 200px 200px;
	background-color: #fff;
	-webkit-transform: translateZ(28.8675px);
}
.board .chess .faceO{
	background-image: url(../img/sprite.png);
	background-color: #FA8181;
	-webkit-transform: translateX(25px) translateZ(-14.4338px) rotateY(120deg);
}
.board .chess .faceX{
	background-image: url(../img/sprite.png);
	background-position:  -100px 0px;
	background-color:  #74C3FF;
	-webkit-transform: translateX(-25px) translateZ(-14.4338px) rotateY(240deg);
}
.board .shadow{
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top:0px;
	left:0px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
	-webkit-transform: scaleX(0.7) scaleY(0.9) translateZ(-80px);
	-webkit-transform-style: preserve-3d;
}
.flash {
	-webkit-animation-name: flash;
	-moz-animation-name: flash;
	-o-animation-name: flash;
	animation-name: flash;
}


/*options board*/
.option{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	background: #fff;
}





/** cube chess class ------------> **/