.animated {
	-webkit-animation-duration: 0.5s;
	   -moz-animation-duration: 0.5s;
	     -o-animation-duration: 0.5s;
	        animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

.animated.hinge {
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
}
.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
}

.board{
	width: 640px;
	height: 640px;
	position: relative;
	overflow: hidden;
	line-height: 0px;
	-webkit-transform-style: preserve-3d;
	-webkit-perspective: 99999999px;
	top: 50%;
	margin-top: -320px;
}
}

/** <--------- anim frame    **/
@-webkit-keyframes flash {
	0%, 100% {opacity: 0;}	
	50% {opacity: 1;}
}

@-moz-keyframes flash {
	0%, 100% {opacity: 0;}	
	50% {opacity: 1;}
}

@-o-keyframes flash {
	0%, 100% {opacity: 0;}	
	50% {opacity: 1;}
}

@keyframes flash {
	0%, 100% {opacity: 0;}	
	50% {opacity: 1;}
}


@-webkit-keyframes w2o {
	0% {
		-webkit-transform: rotateY(0deg);
	}

	50% {
		-webkit-transform: rotateY(-130deg);
	}

	70% {
		-webkit-transform: rotateY(-110deg);
	}

	100% {
		-webkit-transform: rotateY(-120deg);
	}
}


@-webkit-keyframes w2x {
	0% {
		-webkit-transform: rotateY(0deg);
	}

	50% {
		-webkit-transform: rotateY(130deg);
	}

	70% {
		-webkit-transform: rotateY(110deg);
	}

	100% {
		-webkit-transform: rotateY(120deg);
	}
}

@-webkit-keyframes o2x {
	0% {
		-webkit-transform: rotateY(-120deg);
	}

	50% {
		-webkit-transform: rotateY(-250deg);
	}

	70% {
		-webkit-transform: rotateY(-230deg);
	}

	100% {
		-webkit-transform: rotateY(-240deg);
	}
}
@-webkit-keyframes o2w {
	0% {
		-webkit-transform: rotateY(-120deg);
	}

	50% {
		-webkit-transform: rotateY(10deg);
	}

	70% {
		-webkit-transform: rotateY(-10deg);
	}

	100% {
		-webkit-transform: rotateY(0deg);
	}
}
@-webkit-keyframes x2o {
	0% {
		-webkit-transform: rotateY(-240deg);
	}

	50% {
		-webkit-transform: rotateY(-110deg);
	}

	70% {
		-webkit-transform: rotateY(-130deg);
	}

	100% {
		-webkit-transform: rotateY(-120deg);
	}
}
@-webkit-keyframes x2w {
	0% {
		-webkit-transform: rotateY(120deg);
	}

	50% {
		-webkit-transform: rotateY(-10deg);
	}

	70% {
		-webkit-transform: rotateY(10deg);
	}

	100% {
		-webkit-transform: rotateY(0deg);
	}
}
@-webkit-keyframes shake {
	0%, 100% {-webkit-transform:translateZ(-57.735px) rotateZ(0);}
	10%, 30%, 50%, 70%, 90% {-webkit-transform:translateZ(-57.735px) rotateZ(5deg);}
	20%, 40%, 60%, 80% {-webkit-transform:translateZ(-57.735px) rotateZ(-5deg);}
}
@-webkit-keyframes rockX {
	0%{-webkit-transform:rotateY(115deg);}
	50%{-webkit-transform:rotateY(125deg);}
	100%{-webkit-transform:rotateY(115deg);}
}
@-webkit-keyframes rockO {
	0%{-webkit-transform:rotateY(-125deg);}
	50%{-webkit-transform:rotateY(-115deg);}
	100%{-webkit-transform:rotateY(-125deg);}
}

/** anim frame-------------> **/





/** <--------- cube chess class **/
.chess{
	display: inline-block;
	position: absolute;
	margin: 0px;
	width: 214px;
	height: 214px;
	-webkit-perspective: 1000px;
	-webkit-transform-style: preserve-3d;
	-webkit-perspective-origin: center center;
}


.chess .trig{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	-webkit-transform: translateZ(-57.735px);
	-webkit-transform-style: preserve-3d;
	
}

.chess .rotate{
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotateY(0);
}

.chess.x2w .rotate{
	-webkit-animation-name: x2w;
	-moz-animation-name: x2w;
	-o-animation-name: x2w;
	animation-name: x2w;
}
.chess.x2o .rotate{
	-webkit-animation-name: x2o;
	-moz-animation-name: x2o;
	-o-animation-name: x2o;
	animation-name: x2o;
}
.chess.o2w .rotate{
	-webkit-animation-name: o2w;
	-moz-animation-name: o2w;
	-o-animation-name: o2w;
	animation-name: o2w;
}

.chess.o2x .rotate{
	-webkit-animation-name: o2x;
	-moz-animation-name: o2x;
	-o-animation-name: o2x;
	animation-name: o2x;
}
.chess.w2x .rotate{
	-webkit-animation-name: w2x;
	-moz-animation-name: w2x;
	-o-animation-name: w2x;
	animation-name: w2x;
}

.chess.w2o .rotate{
	-webkit-animation-name: w2o;
	-moz-animation-name: w2o;
	-o-animation-name: w2o;
	animation-name: w2o;
}

.chess.rockX .rotate{
	-webkit-animation-name: rockX;
	-moz-animation-name: rockX;
	-o-animation-name: rockX;
	animation-name: rockX;
}

.chess.rockO .rotate{
	-webkit-animation-name: rockO;
	-moz-animation-name: rockO;
	-o-animation-name: rockO;
	animation-name: rockO;
}

.chess.shake .trig{
	-webkit-animation-name: shake;
	-moz-animation-name: shake;
	-o-animation-name: shake;
	animation-name: shake;
}
.chess.o .rotate{
	-webkit-transform:rotateY(-120deg);
	
}

.chess.x .rotate{
	-webkit-transform:rotateY(120deg);
}



.chess .face{
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-backface-visibility: hidden;
	background-color: #fff;
	-webkit-transform: translateZ(57.735px);
}
.chess .faceO{
	background-image: url(../img/sprite.png);
	background-color: #FA8181;
	-webkit-transform: translateX(50px) translateZ(-28.8676px) rotateY(120deg);
}
.chess .faceX{
	background-image: url(../img/sprite.png);
	background-position:  -214px 0px;
	background-color:  #74C3FF;
	-webkit-transform: translateX(-50px) translateZ(-28.8676px) rotateY(240deg);
}
.chess .faceW{
	background-image: url(../img/sprite.png);
	background-position:  0px -214px;
	background-color:  #f4f4f4;
}


.shadow{
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top:0px;
	left:0px;
	box-shadow: 0px 0px 60px rgba(0, 0, 0, 1);
	-webkit-transform: scaleX(0.7) scaleY(0.9) translateZ(-160px);
	-webkit-transform-style: preserve-3d;
}

.flash {
	-webkit-animation-name: flash;
	-moz-animation-name: flash;
	-o-animation-name: flash;
	animation-name: flash;
}


/*options board*/

.optionbg{
	width: 100%;
	position: absolute;
	top: 0px;
	bottom: 0px;
	background:#fff;
}

.option{
	background: #fff;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top:-345px;
	right: 0;
	line-height: 0px;
	-webkit-transform-style: preserve-3d;
	-webkit-perspective: 99999999px;
}
.option .mainBtn{
	-webkit-transition: -webkit-transform 500ms;
	width:480px;
	margin: 0 auto;
	margin-top: 40px;
	height: 214px;
}
.option .hold{
}

.option .mainBtn.dont{
	height: 1px;
}

.option .dont .line{
	width:214px;
	border-top:1px solid #333;
	height: 0px;
}


.option .mainBtn:first-child{
	margin-top: 0px;
}

.option .btnTips{
	line-height: 214px;
	float: right;
	font-size: 40px;
	-webkit-transform: translateX(0px);
	opacity: 1;
	-webkit-transition:-webkit-transform 1s, opacity 1s;
}

.option .btnTips.dismiss{
	opacity:0;
	-webkit-transform: translateX(640px);
}

.option .chess .face{
	background-color: #333;
}
.option .chess.single .faceW{
	background-position:-214px -214px;
}
.option .chess.single .faceO{
	background:#fff;
}
.option .chess.single .faceX{
	background:#fff;
}
.option .chess.multi .faceW{
	background-position:0px -428px;
}
.option .chess.multi .faceO{
	background:#fff;
}
.option .chess.multi .faceX{
	background:#fff;
}
.option .chess.sound .faceW{
	background-position:-214px -428px;
}
.option .chess.sound .faceO{
	background:#fff;
}
.option .chess.sound .faceX{
	background-position:0px -642px;
}




/** cube chess class ------------> **/


/**  <--------- big tips **/
.bigTips {
	font-size: 100px;
	font-weight: 800;
	line-height: 214px;
	height: 214px;
}
.bigTips.oColor{
	color:#FA8181;
}
.bigTips.xColor{
	color:#74c3ff;
}

.bigTips .tipsIcon{
	background-image: url(../img/sprite.png);
	display: inline-block;
	width: 214px;
	height: 214px;
	float: left;
}
.bigTips .oTips{
	
	background-position: 0px -856px;
}
.bigTips .xTips{
	
	background-position: -214px -856px;
}

/** big tips ------> **/